@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Abril Fatface', cursive;
    color: white;
    padding: 1em;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    position: relative;
}
.ant-layout-sider-collapsed{
    .logo{
        visibility: hidden;
        position: relative;
        height: 70px;
        &::before{
            content: "QikP";
            font-family: 'Abril Fatface', cursive;
            color: white;
            padding: 1em;
            font-size: 1.2em;
            letter-spacing: 0.05em;
            position: relative;
            visibility: visible;
            height: 70px;
            transform: translateX(65px) translateY(-8px);
        }
    }
}

span{
    a{
        color: white;
    }
}